
.myportfolio {
    width: 1fr;
    display: grid;
    margin: 10px;
     
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 400px 1fr;   
    grid-template-areas:        
        "information information information information"
        "Us Us Us Us"
        "gallery1 gallery2 gallery3 gallery4";
}

    


.information {
    grid-area: information;
    text-align: center;
    color: azure;
    font-family: cursive;
    font-size: 25px;
}


.Us{
    grid-area: Us;
    
}


.gallery{
    margin: 12px;
    border: 1px solid #ccc;
}

.gallery1 {
    grid-area: gallery1;
    
}

.gallery2 {
    grid-area: gallery2;
}
   

.gallery3 {
    grid-area: gallery3;
}

.gallery4 {
    grid-area: gallery4;
}