
.myportfolio {
    width: 1fr;
    display: grid;
    margin: 10px;
    background-color: bisque;
     
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 400px 1fr;   
    grid-template-areas:        
        "information information information information"
        "Us Us Us Us"
        "gallery1 gallery2 gallery3 gallery4";
}

    


.information {
    grid-area: information;
    text-align: center;
    color: azure;
    font-family: cursive;
    font-size: 25px;
}


.Us{
    grid-area: Us;
    
}


.gallery{
    position: relative;
    width: 100%;
    margin: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}




.gallery1 {
    grid-area: gallery1;
    }
.gallery1:hover .gallery1 {
  opacity: 0.3;
}

.gallery1:hover .middle {
  opacity: 1;
}

    


.gallery2 {
    grid-area: gallery2;
}
    .gallery2:hover .gallery2 {
  opacity: 0.3;
}

.gallery2:hover .middle {
  opacity: 1;
}



.gallery3 {
    grid-area: gallery3;
}
.gallery3:hover .gallery3 {
  opacity: 0.3;
}

.gallery3:hover .middle {
    opacity: 1;}





.gallery4 {
    grid-area: gallery4;
}
.gallery4:hover .gallery4 {
  opacity: 0.3;
}

.gallery4:hover .middle {
    opacity: 1;}



.text {
  background-color: #FFB6C1;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: skyblue;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: palevioletred;
    background-color: transparent;
    text-decoration: underline;
}