.mygrid {
    width: 1650px;
    height: 1000px;
    display: grid;
    grid-gap: 10px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows;200px 20px 1fr;
    grid-template-areas: 
        "tytul tytul logo"
        "was was was"
        "kol1 kol2 kol3"
        

}
tytul{
    grid-area: tytul;
    color:antiquewhite;
}

logo{
    grid-area:logo;

}

logo>.circle{
    background: #ffffff url("myphoto.jpg") no-repeat center;
    width: 200px;
    height: 200px;
    
    color: white;
    border-radius: 50%;
    text-align: center;
    margin: 12px 0px;
    
}
    
.was{
    grid-area: was;
}

.kol1{
    grid-area: kol1;
}

.kol2{
    grid-area: kol2;
}
